version: '3.7'
services:
  lip:
    env_file:
      - ./.lip.env
    volumes:
      - ./secrets/attribute-mapping.json:/usr/share/app/secrets/attribute-mapping.json
    restart: always
    logging:
       driver: "json-file"
       options:
          max-file: "3"
          max-size: "5m"
    command: bash -c "exec java $$LIP_JAVA_OPTS  -Dvertx.logger-delegate-factory-class-name=io.vertx.core.logging.Log4j2LogDelegateFactory  -jar ./fatjar.jar  --host $$(hostname) -c secrets/all-verticles-configs/config.json"

